body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(35, 50, 100);
  text-align: center;
  color: rgb(250, 210, 110);
  margin: 0 auto;
  padding: 2vw;
}
input {
  padding: 0.7vw 0.7vw 0.7vw 0.7vw;
  font-family: "Montserrat", sans-serif;
  color: black;
  border-radius: 1vw;
  border-width: 0.1vw;
}
hr {
  max-width: 75%;
  border-color: rgb(250, 210, 110);
}
h1 {
  font-weight: bold;
  font-size: 50px;
  text-shadow: 0.15vw 0.15vw 0.15vw black;
}
h2 {
  font-size: 30px;
  text-shadow: 0.15vw 0.15vw 0.15vw black;
}
h3 {
  text-shadow: 0.15vw 0.15vw 0.15vw black;
}
ol {
  font-size: 30px;
  list-style-position: inside;
  text-shadow: 0.15vw 0.15vw 0.15vw black;
}
button {
  border-radius: 1.2vw;
  background-color: rgb(250, 210, 110);
  color: rgb(40, 20, 5);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-width: 0.2vw;
  padding: 0.2vw 1vw 0.2vw 1vw;
  margin-top: 2vw;
}
