body {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(35, 50, 100, 1);
  text-align: center;
  color: rgba(250, 210, 110, 1);
}
input {
  padding: 0.7vw 0.7vw 0.7vw 0.7vw;
  font-size: 1.5vw;
  font-family: "Montserrat", sans-serif;
  border-radius: 1vw;
  border-width: 0.1vw;
}
hr {
  max-width: 75%;
  /*make it scalable*/
  border-color: rgba(250, 210, 110, 1);
}
h1 {
  font-weight: bold;
  font-size: 5vw;
  text-shadow: 0.15vw 0.15vw 0.15vw black;
}
h3 {
  font-size: 3vw;
  text-shadow: 0.15vw 0.15vw 0.15vw black;
}
p {
  font-size: 2vw;
  text-shadow: 0.15vw 0.15vw 0.15vw black;
}
ol {
  font-size: 2.5vw;
  list-style-position: inside;
  text-shadow: 0.15vw 0.15vw 0.15vw black;
}
button {
  border-radius: 20vw;
  background-color: rgba(250, 210, 110, 1);
  color: rgba(40, 20, 5, 1);
  font-family: "Montserrat", sans-serif;
  border-width: 0.2vw;
  font-size: 1.75vw;
}
